name: Daily Run

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.13
      uses: actions/setup-python@v3
      with:
        python-version: "3.13"
    - name: Install uv
      uses: astral-sh/setup-uv@v5
    - name: Install dependencies
      run: |
        make install
    - name: Run steps
      run: |
        make run
      env:
        SOURCES__GITHUB__ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BASE_PATH: '/${{ github.event.repository.name }}'
    - name: Upload Artifacts
      uses: actions/upload-pages-artifact@v3
      with:
        path: 'dashboard/build/${{ github.event.repository.name }}'

  deploy:
    needs: build
    runs-on: ubuntu-latest

    permissions:
        pages: write
        id-token: write

    environment:
        name: github-pages
        url: ${{ steps.deployment.outputs.page_url }}

    steps:
    - name: Deploy
      id: deployment
      uses: actions/deploy-pages@v4
